<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="/js/lib/LoginController.js"></script>

    <link rel="stylesheet" href="/css/login.css"/>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <!-- Add custom CSS here -->
    <link href="/css/slidefolio.css" rel="stylesheet"/>
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body ng-app="icluj">
<div  ng-controller="LoginController" class="container-fluid">
 <div id="contact">
      <div class="container">
        <div class="row">
		<div class="col-md-4 col-md-offset-4 text-center">
            <h2>Sign in</h2>
			<hr/>
          </div>
          <div class="col-md-5 col-md-offset-3">
		  <!-- contact form starts -->
            <form action="contact"  method="post" th:action="@{/login}" class="form-horizontal jumbotron" id="login_form">
			<fieldset>
						    <div class="form-group">
						      <label class="col-sm-4 control-label" for="name">Email</label>
						      <div class="col-sm-8">
						        <input type="email" ng-model="user.email" class="form-control" name="username" th:required="required"/>
						      </div>
						    </div>
						    <div class="form-group">
						      <label class="col-sm-4 control-label" for="email">Password</label>
						      <div class="col-sm-8">
						        <input type="password" class="form-control" name="password" ng-model="user.password" th:required="required"/>
						      </div>
						    </div>
	              <div class="col-sm-offset-4 col-sm-8">
			            <button type="submit" class="btn btn-success">Submit</button>
	    			      <button type="reset" class="btn btn-primary">Cancel</button>
	        			</div>
						</fieldset>
						</form>
				
				<!-- contact form ends -->		
          </div>
        </div>
      </div>
    </div>
</div>
     <script src="js/jquery.js"></script>
	<script src="js/jquery-scrolltofixed-min.js"></script>
	<script src="js/jquery.vegas.js"></script>
	<script src="js/jquery.mixitup.min.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/script.js"></script>
	<script src="js/bootstrap.js"></script>

</body>
</html>