<!DOCTYPE html>
<html ng-app>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="/js/lib/RegisterController.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
<p>Hello World</p>
<div id="Profile_name">
{{name}}'s  Profile
</div>
<div id="Profile-photo">

</div>

<div id="Profile_iCoins">
{{iCoins}}
</div>

<div id="Profile_rank">
{{rank}}

</div>
</body>
</html>